<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS | Home</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
    }
    main {
      background-color: rgb(252, 195, 195);
      height: 100vh;
      width: 100vw;
      display: grid;
      place-content: center;
    }
    h1 {
      padding: 20px;
    }
    label {
      font-weight: bolder;
    }
    input {
      width: 30vw;
      padding: 5px;
      margin: 10px;
      height: 25px;
    }
    button {
        padding: 9px;
    
    }
    form {
      width: 50vw;
      background-color: antiquewhite;
      height: 50vh;
      border-radius: 50px;
      padding: 20px;
    }
  </style>
  <body>
    <!-- Extension EJS for Inteli.. Suggestion -->

    <!-- step after UI design -->
    
    <main>
      <h1>URL Shortener</h1>
      <form action="/urls" method="post">
        <label for="orginialInput">Enter your orginial URL:</label><br />
        <input
          type="text"
          name="url"
          id="orginialInput"
          placeholder="http://example.com"
        />
        <Button type="submit">Generate</Button>
        <br>
        <% if(locals.id) { %>
          <p> <b>Generated URL:</b> http://localhost:8000/url/<%= id %> </p>
         <% } %>
      </form>
    </main>
  </body>
</html>
